
.product-list {
    align-items: center;
    text-align: center;
    padding: 100px 0;
    padding-top: 20px;
    background: url('../../assets/images/product-background.png');
    background-size: cover;
    background-position: center;
}

.product-list h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.product-list .img-container-prod {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
}

.product-list .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}