.business-intelligence {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.3) 100%), url(https://images.unsplash.com/photo-1580983559367-0dc2f8934365?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}

.business-intelligence h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.business-intelligence .custom-list {
    color: #fe5000;
}

.business-intelligence .custom-list li {
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.business-intelligence .custom-list li:before {
    padding-right: 5px;
}
