.website {
    overflow: hidden;
}

.website h2 {
    transform: translateX(-18px);
}

.website h2, .website h5 {
    text-align: center;
    font-weight: 700;
}

.website .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0;
    height: 550px;
    padding: 70px 0;
}

.website .col:first-of-type {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%),url(../../assets/images/websolution\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}

.website .col:last-of-type {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%),url(../../assets/images/websolution\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}

.website .react-icons {
    color: #FF7A00;
}

.website ul {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

.website ul li {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .website .col {
        height: auto;
        padding: 45px 0;
    }
}