.oranye-app {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 60%), url('../../assets/images/background-oranye.png');
    background-size: cover;
    background-position: center;
}

.oranye-app h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.oranye-app p {
    margin: 0;
    font-size: 20px;
}