.btn.btn-primary {
    background-color: #FF7A00;
    color: #fbfbfb;
    border: 1px solid transparent;
    transition: 0.5s;
}

.btn.btn-primary:hover {
    background-color: #fbfbfb;
    color: #FF7A00;
    border: 1px solid #FF7A00;
    transition: 0.5s;
}

.btn.btn-primary:active {
    border-color: #eb9009;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 145, 0, 0.8);
}

.btn.btn-primary:focus {
    border-color: #eb9009;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 145, 0, 0.8);
}

.btn.btn-dark:hover {
    background-color: #fbfbfb;
    color: #252525;
    border: 1px solid  #252525;
    transition: 0.5s;
}

section h2 {
    color: #ff5e00 !important;
}