.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:50px;
	background-color:#00bb45;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
	transition: 0.3s;
}

.float:hover {
	background-color:#008631;
	transition: 0.3s;
}

.my-float{
	margin-top:10px;
}