@page { margin: 0 !important; }

@media all {
    .page-break {
        display: none;
    }

    p {
        margin: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 10px;
    }
    
    ul li {
        display: grid;
        grid-template-columns: 0 1fr;
        gap: 20px;
        align-items: start;
        line-height: 1;
    }

    ul li::before {
        content: '-';
    }

    .capitalize {
        text-transform: capitalize;
    }
}

@media print {
    html, body {
        height: initial !important;
        overflow: initial !important;
    }
}

@media print {
    .page-break {
        margin-top: 1rem;
        display: block;
        page-break-before: always;
    }

    .page-header .name {
        font-size: 60px;
        text-transform: capitalize;
    }

    .page-header .position {
        font-size: 40px;
    }

    .page-body {
        width: 100%;
        font-size: 18px;
    }

    .page-body table.table-bordered{
        border: 2px solid #3d3d3d;
    }
    .page-body table.table-bordered > thead > tr > th{
        background-color: #222;
        border: 2px solid #3d3d3d;
        padding: 3px 5px;
    }
    .page-body table.table-bordered > tbody > tr > td{
        border: 2px solid #3d3d3d;
        padding: 3px 5px;
    }

    .page-body table tr > td:first-of-type {
        color: #ff4500;
    }

    .page-footer {
        position: fixed;
        bottom: 0;
        height: auto;
    }

    .footer-text {
        position: absolute;
        text-align: center;
        bottom: 30px;
        left: 30%;
    }

    .footer-text p {
        margin: 0;
        padding: 0;
    }
    
    thead {
        height: 100px;
        background-color: transparent;
    }
    
    thead tr td:first-of-type {
        padding-bottom: 0px;
    }

    .header-space {
        height: 0px;
    }

    tbody {
        background-color: transparent;
    }

    tfoot {
        height: 130px;
        background-color: transparent;
    }

    tfoot tr td:first-of-type {
        padding-top: 0px;
    }

    .footer-space {
        height: 0px;
    }
    
    .table-title {
        font-style: italic;
        color: #fbfbfb;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@page {
    size: auto;
    margin: 20mm;
}