.news-item {
    background: url(https://images.unsplash.com/photo-1546422904-90eab23c3d7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    background-size: cover;
    background-position: center;
}

.news-item-content {
    margin: 60px 0;
    margin-top: 30px;
}

.news-item-content a{
    text-decoration: none;
    color: #ff5100;
    transition: 0.3s;
}

.news-item-content a:hover {
    color: #ff9900;
    transition: 0.3s;
    width: 100%;
}

.news-item-content .date {
    color: #ff5100;
}