.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.btn-primary {
  background-color: #FF7A00;
  color: #fbfbfb;
  border: 1px solid transparent;
  transition: 0.5s;
}

.btn.btn-primary:hover {
  background-color: #fbfbfb;
  color: #FF7A00;
  border: 1px solid #FF7A00;
  transition: 0.5s;
}

.btn.btn-dark:hover {
  background-color: #fbfbfb;
  color: #252525;
  border: 1px solid  #252525;
  transition: 0.5s;
}

section h2 {
  color: #ff5e00 !important;
}